<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modify Product</title>
    <link rel="stylesheet" href="modifyProduct.css">

</head>

<body>
    <header>
        <h1>Modify Product</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/inventory">Inventory</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Select a Product to Change</h2>
        <ul>
            {{#each products}}
            <li><a href="/edit-product/{{_id}}">{{name}}</a></li>
            {{/each}}
        </ul>
    </main>
    <footer>
        <p>&copy; 2024 Retail Management System. All rights reserved.</p>
    </footer>
</body>

</html>